
.input {
  border: 1px solid;
  border-radius: 0px;
  min-height: 42px;
}

.custom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 56px 0px 0px 0px;
}

.form-heading {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  font-size: 42px;
  padding-bottom: 34px 0px;
  margin-bottom: 72px;
}

.button-wrapper{
  justify-content: center;
  display: flex;
}

.button {
  display: flex;
  background: black;
  padding: 28px 56px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 0;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun,sans-serif;
  line-height: 1;
  content: "*";
}


:where(.css-dev-only-do-not-override-ed5zg0).ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun,sans-serif;
  line-height: 1;
  content: "*";
}

.label{
  font-size: 18px;
  margin-bottom: 12px;
}

.ant-select-selector {
  border: 1px solid !important;
  min-height: 42px !important;
  border-radius: 0 !important;
}

.dynamic-delete-button {
  position: relative;
  top: 4px;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}